:host{
    position: relative;
    display: block;
    width: 100vw;
    height: 35vw;
    color: var(--white-color);
    animation-name: show;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range-end: 50%;
    #img-box{
        position: absolute;
        width: 100%;
        height: 35vw;
        background-image: linear-gradient(0deg, black,transparent 60%, transparent);  
        //top: 20vw;
        z-index: -1;
    }
    #hero-image{      
        position: absolute;
        left: 0;
        top: 0;
        z-index: -2;
        width: 100vw;
        height: 35vw;
    }
    #text{
        position: relative;
        left: 6rem;
        top: calc(17.5vw - 92.5px);
        #describe{
          margin-bottom: 15px;
        }
        #title{
            font-size: 50px;
            font-weight: 300;
            margin-bottom: 30px;
        }
        
        #know-more{
            border-radius: 3px;
                border: 1px solid #f2f2f2;
                background-color: #0000;
                color: #f2f2f2;
                min-height: 3.25rem;
                width: 15%;
                cursor: pointer;
                &:hover{
                    border-width: 2px;
                   border-color: #fff;
                   color: #fff;
                }
        }
    }
}
@media screen and (max-width:600px){
    :host{
        height: 100vw;
        margin-bottom: 30vw;
        #img-box{
            background-image: linear-gradient(180deg, #0000, #000 8pc) ;
            height: 75%;
            top: 35%; 
        }
        #hero-image{
            content: url('https://bmw.scene7.com/is/image/BMW/imgix_cut:1to1?fmt=webp&wid=600&hei=600');       
            height: auto;     
        }
        #text{
            width: 80%;
            top: calc(100% - 165px);
            left: calc(50% - 40%);              
            display: flex;
            flex-direction: column;
            align-items: center;               
            #title{
                font-size: 35px;
            }
            #know-more{
                width: 100%;
            }    
        }
    }
}
@media screen and  (max-width:768px){
    :host{
        height: 100vw;
        margin-bottom: 30vw;
        #img-box{
            background-image: linear-gradient(180deg, #0000, #000 8pc) ;
            height: 75%;
            top: 35%; 
        }
        #hero-image{
            content: url('https://bmw.scene7.com/is/image/BMW/imgix_cut:3to2?fmt=webp&wid=1024&hei=683');
            height: auto;
        }
        #text{
            width: 80%;
            top: calc(100% - 195px);
            left: calc(50% - 40%);              
            display: flex;
            flex-direction: column;
            align-items: center;    
            #title{
                font-size: 35px;
            }
            #know-more{
                width: 100%;
            }    
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    :host{
        height: 90vw;
        #img-box{
            background-image: linear-gradient(180deg, #0000, #000 8pc) ;
            height: 50%;
            top: 50%;    
        }
        #hero-image{
            content: url('https://bmw.scene7.com/is/image/BMW/imgix_cut:3to2?fmt=webp&wid=1024&hei=683');
            height: auto;
        }
        #text{
            width: 80%;
            top: calc(100% - 195px);
            left: calc(50% - 40%);              
            display: flex;
            flex-direction: column;
            align-items: center;    
            #title{
                font-size: 35px;
            }
            #know-more{
                width: 70%;
            }    
        }
    }
}
@media screen and (min-width:1024px) and (max-width:1280px) {
    :host{
        #text{
            width: calc(100vw - 6rem);
            left: 9rem;
            #title{
                font-size: 35px;
            }
           
        }
    }
}