:host{
    position: relative;
    display:block;
    // justify-content: center;
    width: 100vw;
    height: 45vw;
    color: var(--white-color);
    #img-box{
        position: absolute;
        width: 100%;
        height: 45vw;
        background-image: linear-gradient(90deg, black,transparent 70%, transparent );
       
        z-index: -1;
    }
    #hero-image{      
        position: absolute;
        left: 0;
        top: 0;
        z-index: -2;
        width: 100vw;
        height: 45vw;
    }
   
    #text{
        position: relative;
        z-index: 1;     
        width: calc(100vw - 12rem);
        height: 100%;
        left: 6rem;
        
        nav{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 84px;
            border-bottom: 1px solid var(--white-color);
           
            #text-links{
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer;
                height: 100%;
                
                a#logo{
                    margin-right: 30px;
                }
                a:nth-child(2){
                    //margin-left: 30px;
                    margin-right: 20px;
                }
                a:not(#logo){
                    height: calc(100% - 3px);
                    margin-right: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-bottom: 3px solid transparent;
                    &:hover{
                        border-bottom-color: #1c69d4;
                    }
                }

            }
            #logo-links{
                height: 100%;
                display: flex;
                align-items: center;
                a{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-bottom: 3px solid transparent;         
                    padding: 0 0.75rem;               
                    img{                   
                        height: 1.25em;
                        filter: invert(1);                   
                    }            
                }                            
                a#hamburger{
                    display: none;
                    img{
                        height: 1.5rem;
                    }
                }
                a:not(#hamburger):hover{
                    border-bottom-color: #1c69d4;
                }
                
                 
            }
        }
        #words-below-nav{
            margin-top: 15px;
            margin-bottom: 120px;
        }
        #car-info{
            position: absolute;
            left: 0;
            top: 10vw;
            #car-name-prefix{
                font-weight: 300;
                letter-spacing: 10px;
            }
            #car-name{
                font-size: 210px;
                font-weight: 300;
            }
            #describe{
                display: flex;
                font-size: 23px;
              
                #ix-icon{
                    display: inline-block;
                    width: auto;
                    height: 1em;
                    vertical-align: baseline;
                    margin-right: 8px;
                  }
            }
            #buttons{
                margin-top: 40px;
                #order-right-now{
                    background-color: #1c69d4;
                    color: #fff;
                    padding: 4px;
                    min-height: 3.25rem;
                    width: 45%;
                    border-radius: 3px;
                    border: none;
                    margin-right: 20px;
                    cursor: pointer;
                    &:hover{
                        background-color: #0e53b4;
                    }
                }
                #know-more{
                    border-radius: 3px;
                    border: 1px solid #f2f2f2;
                    background-color: #0000;
                    color: #f2f2f2;
                    min-height: 3.25rem;
                    width: 45%;
                    cursor: pointer;
                    &:hover{
                        border-width: 2px;
                       border-color: #fff;
                       color: #fff;
                    }
                }
            }
        }
       
    }
  
}




@media screen and  (max-width:768px){
    :host{
        height: 60dvh;
        #img-box{
            background-image: linear-gradient(180deg, #0000, #000 8pc) ;
            height: 100%;
            top: 20vw;          
        }
        #text{
            width: calc(100vw - 3rem);
            left: 1.5rem;
            nav{
                border-bottom-color:transparent ;
                padding-right: 1.5rem;
                #text-links{
                    a:not(#logo){
                        display: none;
                    }
                    a#logo img{
                        height: 36px;
                    }
                  }
                #logo-links{
                    
                    a#location{
                        display: none;
                    }
                    a#hamburger{
                        display: flex;
                    }
                }
            }
            #words-below-nav{
                color: transparent;
            }
            #car-info{
                width: 100%;
                top: 28vw;            
                padding-right: 1.5rem;   
                left: 0;              
                display: flex;
                flex-direction: column;
                align-items: center;
                #car-name{
                    font-size: 126px;
                }
                #describe{
                    p{
                        font-size: 19px;
                    }
                }
                #buttons{
                    margin-top: 0;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    #order-right-now{
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 20px;
                    }   
                    #know-more{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    :host{
        height: 65dvh;
        #img-box{
            background-image: linear-gradient(180deg, #0000, #000 8pc) ;
            height: 100%;
            top: 25vw;        
        }
        #text{
            width: calc(100vw - 6rem);
            left: 3rem;
            nav{
                border-bottom-color:transparent ;
                #text-links{
                    a:not(#logo){
                        display: none;
                    }
                  }
                #logo-links{
                    a#location{
                        display: none;
                    }
                    a#hamburger{
                        display: flex;
                    }
                }
            }
            #words-below-nav{
                color: transparent;
            }
            #car-info{
                width: 80%;
                top: 28vw;
                left: calc(50% - 40%);              
                display: flex;
                flex-direction: column;
                align-items: center;
                #car-name{
                    font-size: 126px;
                }
                #buttons{
                    width: 100%;

                }
            }
        }
    }
}
@media screen and (min-width:1024px) and (max-width:1280px) {
    :host{
        #text{
            width: calc(100vw - 6rem);
            left: 3rem;
            nav{
                border-bottom-color:transparent ;
                #text-links{
                  a:not(#logo){
                    display: none;
                  }
                }
                #logo-links{
                    a#location{
                        display: none;
                    }
                    a#hamburger{
                        display: flex;
                    }
                }
            }
            #words-below-nav{
                color: transparent;
            }
            #car-info{
                #car-name{
                    font-size: 126px;
                }
            }
        }
    }
}