:host{
    position: relative;
    display:block;
    // justify-content: center;
    width: 100vw;
    height: 95dvh;
    color: var(--white-color);
    #img-box{
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        background-image: linear-gradient(110deg , black,transparent 60% , transparent);
       
        #hero-image{      
            position: relative;
            z-index: -2;
            width: 100vw;
           
        }
    }
   
    #text{
        position: relative;
        z-index: 1;
        // display: flex;
        // justify-content: center;
        // flex-direction: column;
        width: calc(100vw - 12rem);
        height: 100%;
        left: 6rem;
        
        nav{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 84px;
            border-bottom: 1px solid var(--white-color);
           
            #text-links{
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer;
                height: 100%;
                left: -150px;
                
                a:nth-child(2){
                    //margin-left: 30px;
                    margin-right: 20px;
                }
                a:not(#logo){
                    height: calc(100% - 3px);
                    margin-right: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-bottom: 3px solid transparent;
                    &:hover{
                        border-bottom-color: #1c69d4;
                    }
                }
            }
            #logo-links{
                height: 100%;
                display: flex;
                align-items: center;
                a{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-bottom: 3px solid transparent;                
                }
                a#hamburger{
                    display: none;
                }
                a:not(#hamburger):hover{
                    border-bottom-color: #1c69d4;
                }
                img{
                    margin-inline: 15px;
                    height: 1em;
                    filter: invert(1);
                   
                }
            }
        }
        #words-below-nav{
            margin-top: 15px;
            margin-bottom: 120px;
        }
        #car-info{
            position: absolute;
            left: 0;
            top: 10vw;
            #car-name-prefix{
                font-weight: 300;
                letter-spacing: 10px;
            }
            #car-name{
                font-size: 210px;
                font-weight: 300;
            }
            #describe{
                display: flex;
                font-size: 23px;
              
                #ix-icon{
                    display: inline-block;
                    width: auto;
                    height: 1em;
                    vertical-align: baseline;
                    margin-right: 8px;
                  }
            }
            #buttons{
                margin-top: 40px;
                #order-right-now{
                    background-color: #1c69d4;
                    color: #fff;
                    padding: 4px;
                    min-height: 3.25rem;
                    width: 45%;
                    border-radius: 3px;
                    border: none;
                    margin-right: 20px;
                    cursor: pointer;
                    &:hover{
                        background-color: #0e53b4;
                    }
                }
                #know-more{
                    border-radius: 3px;
                    border: 1px solid #f2f2f2;
                    background-color: #0000;
                    color: #f2f2f2;
                    min-height: 3.25rem;
                    width: 45%;
                    cursor: pointer;
                    &:hover{
                        border-width: 2px;
                       border-color: #fff;
                       color: #fff;
                    }
                }
            }
        }
       
    }
  
}




@media screen and  (max-width:768px){

}

@media screen and (min-width:768px) and (max-width:1024px) {
    :host{
        #img-box{
            background-image: linear-gradient(0deg , black 50%, #00000012 55%);
            height: 100%;
        }
        #text{
            width: calc(100vw - 6rem);
            left: 3rem;
            nav{
                border-bottom-color:transparent ;
                #text-links{
                    display: none;
                  }
                #logo-links{
                    a#location{
                        display: none;
                    }
                    a#hamburger{
                        display: flex;
                    }
                }
            }
            #words-below-nav{
                color: transparent;
            }
            #car-info{
                width: 80%;
                top: 50%;
                left: calc(50% - 40%);              
                display: flex;
                flex-direction: column;
                align-items: center;
                #car-name{
                    font-size: 126px;
                }
                #buttons{
                    width: 100%;

                }
            }
        }
    }
}
@media screen and (min-width:1024px) and (max-width:1280px) {
    :host{
        #text{
            width: calc(100vw - 6rem);
            left: 3rem;
            nav{
                border-bottom-color:transparent ;
                #text-links{
                  display: none;
                }
                #logo-links{
                    a#location{
                        display: none;
                    }
                    a#hamburger{
                        display: flex;
                    }
                }
            }
            #words-below-nav{
                color: transparent;
            }
            #car-info{
                #car-name{
                    font-size: 126px;
                }
            }
        }
    }
}