<div id="img-box"></div>
<img id="hero-image" src="https://bmw.scene7.com/is/image/BMW/0826_originalnew:16to7?fmt=webp&wid=1504&hei=658" alt="">
<section id="text">
    <nav>       
        <section id="text-links">        
            <a id="logo"><img src="https://www.bmw.com.tw/content/dam/bmw/common/images/logo-icons/BMW/BMW_White_Logo.svg.asset.1670245093434.svg" alt=""></a>   
            <a><p>所有車型</p></a>
            <a><p>電動車</p></a>
            <a><p>訂製您的BMW</p></a>
            <a><p>購車及優惠</p></a>
            <a><p>探索BMW</p></a>
        </section>
        <section id="logo-links">
            <a href=""><img src="https://cdn-icons-png.flaticon.com/128/8951/8951073.png" alt=""></a>
            <a href=""><img src="https://cdn-icons-png.flaticon.com/128/2121/2121815.png" alt=""></a>
            <a href="" id="location"><img src="https://cdn-icons-png.flaticon.com/128/6032/6032852.png" alt=""></a>
            <a href=""><img src="https://cdn-icons-png.flaticon.com/128/17591/17591006.png" alt=""></a>
            <a href="" id="hamburger"><img src="https://cdn-icons-png.flaticon.com/128/7710/7710488.png" alt=""></a>
        </section>
    </nav>
    <p id="words-below-nav">Sheer driving <b>pleasure</b></p>
    <section id="car-info">   
        <p id="car-name-prefix">THE NEW</p>
        <h3 id="car-name">iX</h3>
        <section id="describe">
            <img id="ix-icon" src="https://www.bmw.com.tw/content/dam/bmw/common/images/logo-icons/BMW_i/BMW_i_100px.png.asset.1583221945801.png" alt=""><p>全新2025年式BMW iX純電豪華旗艦休旅</p>
        </section>
        <section id="buttons">
            <button id="order-right-now">立即訂購</button>
            <button id="know-more">瞭解更多</button>
        </section>
    </section>
  
</section>
<aside>

</aside>