<section id="all-type-link">
  <p>BMW全車系選單頁</p>
  <a href="">所有車型</a>
</section>
<section id="links-section">
  <section id="main-links">
    <div class="link-card" (click)="toggleLinkBox(this.linkBoxId[0])">
      <p>
        了解更多BMW
        <button   #linkBtn>
          <img src="https://cdn-icons-png.flaticon.com/128/32/32195.png" alt=""/>
        </button>
      </p>
      <div class="link-box" id="know-more" #linkBox>
        <a href="">企業理念</a>
      <a href="">企業客戶專案</a>
      <a href="">Diplomatic Sales</a>
      <a href="">Motorrad摩托車</a>
      <a href="">財盟租賃服務</a>
      </div>      
    </div>
    <div class="link-card" (click)="toggleLinkBox(this.linkBoxId[1])">
      <p>
        下載專區
        <button  #linkBtn>
          <img src="https://cdn-icons-png.flaticon.com/128/32/32195.png"  alt=""/>
        </button>
      </p>
      <div class="link-box" id="download" #linkBox>
        <a href="">型錄與規格配備表下載</a>
        <a href="">月曆下載</a>
        <a href="">BMW車主雜誌下載</a>
      </div>      
    </div>
    <div class="link-card" (click)="toggleLinkBox(this.linkBoxId[2])">
      <p>
        其他
        <button  #linkBtn>
          <img src="https://cdn-icons-png.flaticon.com/128/32/32195.png" alt=""/>
        </button>
      </p>
      <div class="link-box" id="other" #linkBox>
         <a href="">聯絡我們</a>
        <a href="">獲得BMW最新消息</a>
        <a href="">法律聲明與Cookie政策</a>
      </div>    
    </div>
  </section>
  <section id="logo-links">
    <a href=""
      ><img src="https://cdn-icons-png.flaticon.com/128/49/49052.png" alt=""
    /></a>
    <a href=""
      ><img src="https://cdn-icons-png.flaticon.com/128/87/87390.png" alt=""
    /></a>
    <a href=""
      ><img src="https://cdn-icons-png.flaticon.com/128/48/48968.png" alt=""
    /></a>
    <a href=""
      ><img
        src="https://cdn-icons-png.flaticon.com/128/4926/4926496.png"
        alt=""
    /></a>
  </section>
</section>
<section id="copyright">
  <p>© BMW 台灣總代理 汎德 2024</p>
  <section>
    <a href="">法律聲明</a>
    <a href="">Cookies</a>
  </section>
</section>
<a href="" id="to-top" title="Back to top">↑</a>
