<div id="container">
    <section id="text">
        <p>即刻入主</p>
        <h1>線上預約及購車</h1>
    </section>
    <section id="link-cards">
        <div class="link-card">
            <img src="https://bmw.scene7.com/is/image/BMW/NxW_Home_ICON_STOCK_CAR?wid=1504&hei=542" alt="">
            <p>Online Shop線上訂車</p>
            <button>立即訂購</button>
        </div>
        <div class="link-card">
            <img src="https://bmw.scene7.com/is/image/BMW/NxW_Home_ICON_TESTDRIVE?wid=1504&hei=542" alt="">
            <p>預約賞車</p>
            <button>立即預約</button>
        </div>
        <div class="link-card">
            <img src="https://bmw.scene7.com/is/image/BMW/NxW_Home_ICON_CON?wid=1504&hei=542" alt="">
            <p>訂製您的BMW</p>
            <button>立即訂製</button>
        </div>
    </section>
    
</div>
