<img id="hero-image" src="https://bmw.scene7.com/is/image/BMW/P001_FB-1_G60-8135_Ext_Dsk_v001:3to1?fmt=webp&wid=1504&hei=501" alt="">
<section id="text">
    <p id="car-name-prefix">THE NEW</p>
    <h3 id="car-name">i5</h3>
    <section id="describe">
        <img id="ix-icon" src="https://www.bmw.com.tw/content/dam/bmw/common/images/logo-icons/BMW_i/BMW_i_100px.png.asset.1583221945801.png" alt="">
        <p>全新首創BMW i5 Touring</p>
    </section>
    <button id="know-more">瞭解更多</button>
</section>