/* You can add global styles to this file, and also import other style files */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
scroll-behavior: smooth;
overflow-x: hidden;
font-family: bmwTypeNextWeb, Arial, Helvetica, Roboto, sans-serif;
--black-color:#262626;
--white-color:#ffffff;
}

:not(:root){
    overflow-y: hidden;
}